* {
    box-sizing: border-box;
}
#addMovie {
    margin-top: 2em;
}
#addNewMovie{
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, 50%);
}
body {
    width: 100%;
    margin: 0;
    background-color: saddlebrown;
    color: white;
}
.closeModal {
    align-self: flex-end;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#cowBanner{
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#cowEditImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#cowFooterImg{
    height: 10em;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}
#cowLoad {
    border-radius: 50%;
    height: 20em;
    width: 20em;
    object-fit: cover;
}
#cowMovieFlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3em;
}
.editMovieH2 {
    margin: 0 0 2em 0;
}
footer{
    margin-top: 3em;
}
#footerH1{
    color: saddlebrown;
    height: 0;
    position: relative;
    top: 120px;
    left: auto;
    text-align: center;
}
#headerDiv{
    height: 20em;
    width: 100%;
    margin: 0 0 1em 0;
    background-image: url("photos/cowBanner.jpg");
}
#headerH1 {
    width: 100%;
    color: saddlebrown;
    font-size: 5em;
    position: absolute;
    top: 20px;
    left: auto;
    text-align: center;

}
html {
    width: 100vw;
}
h2, p {
    margin: 0
}
label {
    color: white;
}
#loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("photos/cowEdit.jpg");
    background-size: cover;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
.movieCard {
    background-image: url("photos/cowCard.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    vertical-align: middle;
    border: 2px solid white;
    margin: 5px;
    width: 20%;
    height: 15em;
    text-shadow:  -3px 3px 3px #000,
    3px 3px 3px #000,
    3px -3px 3px #000,
    -3px -3px 3px #000;
}
#moviesDiv{
    margin-top: 3em;
}
.rotate {
    animation: rotation 5s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
#searchMoviesForm{
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 1em;
}
#sortMoviesForm{
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
}
.textShadow1pxBlack{
    text-shadow:  -1px 1px 1px #000,
                   1px 1px 1px #000,
                   1px -1px 1px #000,
                  -1px -1px 1px #000;
}
.textShadow3pxBlack{
    text-shadow:  -3px 3px 3px #000,
                   3px 3px 3px #000,
                   3px -3px 3px #000,
                  -3px -3px 3px #000;
}








